<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style >
		.Logo-container{
			background-color:rgb(0, 0, 128);
			color: rgb(255, 255, 255);
			}
		.Logo{
			font-family: "Handlee",cursive;
			font-size: 2.5rem;
		
		}
	</style>
	<div class="logo-container justify-content-between mb-3 p-3">
    <title>Curso</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <nav class="navbar-container">
        <ul class="list-style">
            <li class="list-style2">
                <a class="link-style" target="_blank" href="/aluno">ALUNO</a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/curso">CURSO
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/disciplina">DISCIPLINA
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/turma">TURMA
                </a>
            </li>
        </ul>
    </nav>
    </div>
    <form id="my-form" th:action="@{curso}" th:object="${cursoDTO}" method="post">

        <label>NOME
            <input id="field-text" th:field="*{name}" class="cursoDTO" type="text">
        </label>
        <label>HORAS
            <input id="field-text2" th:field="*{totalGrade}" class="cursoDTO" type="text">
        </label>

        <button class="btn btn-primary" type="submit">Cadastrar</button>
        
         <div>
        <a class="link-style" target="_blank" href="/cursoIndex">Ir para Lista de Cursos</a>
        </div>
    </form>
</head>
<body>

</body>
</html>